<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eudcatetoelevate">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconapp"
        android:label="LEARNFORWARDGPMCO"
        android:roundIcon="@mipmap/iconapp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NavigationFY"></activity>
        <activity android:name=".NavigationParents" />
        <activity android:name=".ParentSecretCodeCheck" />
        <activity android:name=".NavigationTeachers" />
        <activity android:name=".otpcheckTeachers" />
        <activity android:name=".VerifyPhoneTeachers" />
        <activity android:name=".PhoneNumberCheckTeachers" />
        <activity android:name=".RegisterParent" />
        <activity android:name=".RegisterTeachers" />
        <activity android:name=".swipesy" />
        <activity android:name=".otpcheckTy" />
        <activity android:name=".otpcheckSy" />
        <activity android:name=".VerifyPhoneTy" />
        <activity android:name=".VerifyPhoneSy" />
        <activity android:name=".swipefy" />
        <activity android:name=".otpcheck" />
        <activity android:name=".swipeteacher" />
        <activity android:name=".PhoneNumberCheckStudentTy" />
        <activity android:name=".PhoneNumberCheckStudentSy" />
        <activity android:name=".VerifyPhone" />
        <activity android:name=".PhoneNumberCheckStudent" />
        <activity android:name=".RegisterStudentTy" />
        <activity android:name=".RegisterStudentSy" />
        <activity android:name=".RegisterStudentFy" />
        <activity android:name=".LoginStudentTy" />
        <activity android:name=".LoginStudentSy" />
        <activity android:name=".LoginStudentFy" />
        <activity android:name=".LoginParent" />
        <activity android:name=".LoginTeacher" />
        <activity android:name=".YearAndShiftStudent" />
        <activity android:name=".PanelSelection" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>