<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eudcatetoelevate">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="LEARNFORWARDGPMCO"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".viewpdfstudent"></activity>
        <activity android:name=".two" />
        <activity android:name=".one" />
        <activity android:name=".currify" />
        <activity android:name=".ViewPdf1" />
        <activity android:name=".pdfNotice" />
        <activity android:name=".questionpaper" />
        <activity android:name=".LogoutTy" />
        <activity android:name=".ViewProfileStudentTy" />
        <activity android:name=".ProfileActivityStudentTy" />
        <activity android:name=".LogoutParents" />
        <activity android:name=".LogoutTeacher" />
        <activity android:name=".LogoutSY" />
        <activity android:name=".LogoutFy" />
        <activity android:name=".listcurrity" />
        <activity android:name=".liscurrisy" />
        <activity android:name=".listcurrify" />
        <activity android:name=".listpdf" />
        <activity android:name=".viewpdf" />
        <activity android:name=".viewcurrity" />
        <activity android:name=".viewcurrisy" />
        <activity android:name=".viewcurrify" />
        <activity android:name=".tech" />
        <activity android:name=".teacheruploadcurriculum" />
        <activity android:name=".uploadPdf" />
        <activity android:name=".uploadcurrity" />
        <activity android:name=".uploadcurrisy" />
        <activity android:name=".uploadcurrify" />
        <activity android:name=".currisy" />
        <activity android:name=".pdf" />
        <activity android:name=".third1" />
        <activity android:name=".sixth1" />
        <activity android:name=".five" />
        <activity android:name=".fourth1" />
        <activity android:name=".sixth" />
        <activity android:name=".fifth" />
        <activity android:name=".fourth" />
        <activity android:name=".third" />
        <activity android:name=".second" />
        <activity android:name=".first" />
        <activity android:name=".hop" />
        <activity android:name=".sec" />
        <activity android:name=".pres" />
        <activity android:name=".evemang" />
        <activity android:name=".coesa" />
        <activity android:name=".acapdf" />
        <activity android:name=".academic" />
        <activity android:name=".ShowTextPostActivityStudents" />
        <activity android:name=".AddTextPostActivityTeachers" />
        <activity
            android:name=".PostListActivityStudentAndParent"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".PostDetailActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".AddPostActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".PostListActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity android:name=".swipety" />
        <activity android:name=".swipep" />
        <activity android:name=".DetailActivityty" />
        <activity android:name=".DetailAcitivtysy" />
        <activity android:name=".DetailActivityfy" />
        <activity android:name=".DetailAcitvityp" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".ViewProfileStudentSy" />
        <activity android:name=".ProfileActivityStudentSy" />
        <activity android:name=".NavigationTY" />
        <activity android:name=".NavigationSY" />
        <activity android:name=".ViewProfileTeachers" />
        <activity android:name=".ProfileActivityTeachers" />
        <activity android:name=".ViewProfileStudentFY" />
        <activity android:name=".ProfileActivityStudentFY" />
        <activity android:name=".NavigationFY" />
        <activity android:name=".NavigationParents" />
        <activity android:name=".ParentSecretCodeCheck" />
        <activity android:name=".NavigationTeachers" />
        <activity android:name=".otpcheckTeachers" />
        <activity android:name=".VerifyPhoneTeachers" />
        <activity android:name=".PhoneNumberCheckTeachers" />
        <activity android:name=".RegisterParent" />
        <activity android:name=".RegisterTeachers" />
        <activity android:name=".swipesy" />
        <activity android:name=".otpcheckTy" />
        <activity android:name=".otpcheckSy" />
        <activity android:name=".VerifyPhoneTy" />
        <activity android:name=".VerifyPhoneSy" />
        <activity android:name=".swipefy" />
        <activity android:name=".otpcheck" />
        <activity android:name=".swipeteacher" />
        <activity android:name=".PhoneNumberCheckStudentTy" />
        <activity android:name=".PhoneNumberCheckStudentSy" />
        <activity android:name=".VerifyPhone" />
        <activity android:name=".PhoneNumberCheckStudent" />
        <activity android:name=".RegisterStudentTy" />
        <activity android:name=".RegisterStudentSy" />
        <activity android:name=".RegisterStudentFy" />
        <activity android:name=".LoginStudentTy" />
        <activity android:name=".LoginStudentSy" />
        <activity android:name=".LoginStudentFy" />
        <activity android:name=".LoginParent" />
        <activity android:name=".LoginTeacher" />
        <activity android:name=".YearAndShiftStudent" />
        <activity android:name=".PanelSelection" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>